{% extends 'sales/base.html' %}
{% load static %}
{% block title %} Trang chủ Sales - JP {%endblock%}


{% block content %}
<main class="body">
    <section class="orders">
        <div class="grib wide">
            <div class="row">
                <li class="col c-12 m-12 l-12 ll-12">
                    <a href="{% url 'yeucaugiacongSales' %}" class="orders__item">
                        <div class="orders__item-infor">
                            <div class="orders__item-infor-name">
                                <span>Trương Minh Quang</span>
                            </div>
                            <div class="orders__item-infor-time">
                                <span>Ngày đặt hàng: 20/10/2021</span>
                            </div>
                            <div class="orders__item-infor-status">
                                <span>Trạng thái: Đang chờ xác nhận</span>
                            </div>
                        </div>
                        <div class="btn__receive">
                            <button class="btn__receive-item">
                                <span>Tiếp nhận đơn hàng</span>
                            </button>
                        </div>
                    </a>
                </li>
            </div>
        </div>
    </section>
</main>
{% endblock %}