<footer class="footer">
    <div class="grib wide">
        <ul class="footer__list row">
            <li class="col c-12 m-6 l-3 ll-3">
                <div class="footer__item">
                    <h3 class="footer__item-title">Nhóm 3</h3>
                    <ul class="footer__item-list-content">
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Trương Minh Quang (Nhóm Trưởng)</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Đăng Khoa</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Phạm Trần Quốc Thắng</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Trần Ngọc Quí</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Trường Thịnh</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Quốc Khang</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Minh Khang</span>
                        </a>
                    </ul>
                </div>
            </li>
            <li class="col c-12 m-6 l-3 ll-3">
                <div class="footer__item">
                    <h3 class="footer__item-title">Giới thiệu</h3>
                    <div class="footer__item-content">
                        <span class="footer__item-contet-it">
                        JP Jewelry là điểm đến lý tưởng cho những ai đam mê vẻ đẹp tinh tế và sự sáng tạo độc đáo của trang sức.
                        Chúng tôi chuyên gia công trang sức theo yêu cầu, biến những ý tưởng và mong muốn của bạn thành hiện thực lấp lánh.
                        Với đội ngũ nghệ nhân lành nghề, giàu kinh nghiệm và tâm huyết, JP Jewelry cam kết mang đến những sản phẩm chất lượng cao,
                        tỉ mỉ đến từng chi tiết.
                        </span>
                    </div>
                </div>
            </li>
            <li class="col c-12 m-6 l-3 ll-3">
                <div class="footer__item">
                    <h3 class="footer__item-title">Mạng xã hội</h3>
                    <ul class="footer__item-list-content">
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">facebook: FanPage</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">YouTube</span>
                        </a>
                    </ul>
                </div>
            </li>
            <li class="col c-12 m-6 l-3 ll-3">
                <div class="footer__item">
                    <h3 class="footer__item-title">Hỗ trợ tại</h3>
                    <ul class="footer__item-list-content">
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Hotline: 09000000000</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Gmail: JP@gmail.vn</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Facebook</span>
                        </a>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</footer>