<footer class="footer">
    <div class="grib wide">
        <ul class="footer__list row">
            <li class="col c-12 m-6 l-3 ll-3">
                <div class="footer__item">
                    <h3 class="footer__item-title">Nhóm 3</h3>
                    <ul class="footer__item-list-content">
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Trương Minh Quang (Nhóm Trưởng)</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Đăng Khoa</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Phạm Trần Quốc Thắng</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Trần Ngọc Quí</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Trường Thịnh</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Quốc Khang</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Minh Khang</span>
                        </a>
                    </ul>
                </div>
            </li>
            <li class="col c-12 m-6 l-3 ll-3">
                <div class="footer__item">
                    <h3 class="footer__item-title">Nhóm 3</h3>
                    <ul class="footer__item-list-content">
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Trương Minh Quang (Nhóm Trưởng)</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Đăng Khoa</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Phạm Trần Quốc Thắng</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Trần Ngọc Quí</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Trường Thịnh</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Quốc Khang</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Minh Khang</span>
                        </a>
                    </ul>
                </div>
            </li>
            <li class="col c-12 m-6 l-3 ll-3">
                <div class="footer__item">
                    <h3 class="footer__item-title">Nhóm 3</h3>
                    <ul class="footer__item-list-content">
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Trương Minh Quang (Nhóm Trưởng)</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Đăng Khoa</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Phạm Trần Quốc Thắng</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Trần Ngọc Quí</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Trường Thịnh</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Quốc Khang</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Minh Khang</span>
                        </a>
                    </ul>
                </div>
            </li>
            <li class="col c-12 m-6 l-3 ll-3">
                <div class="footer__item">
                    <h3 class="footer__item-title">Nhóm 3</h3>
                    <ul class="footer__item-list-content">
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Trương Minh Quang (Nhóm Trưởng)</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Đăng Khoa</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Phạm Trần Quốc Thắng</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Trần Ngọc Quí</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Trường Thịnh</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Quốc Khang</span>
                        </a>
                        <a href="" class="footer__item-list-content-link">
                            <span class="footer__item-list-content-it">Nguyễn Minh Khang</span>
                        </a>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</footer>