.header__nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 675px;
}
.header__nav .header__nav-list {
  display: flex;
}
.header__nav .header__nav-link {
  position: relative;
  display: block;
  color: var(--black-c-7);
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 12px;
  line-height: 38px;
  transition: all 0.15s ease-in-out;
}
.header__nav .header__nav-link em {
  display: block;
  width: 0%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 0px solid var(--black-c-7);
  border-radius: 0.5px;
  transition: all 0.2s ease-in-out;
}
.header__nav .header__nav-link:hover {
  color: var(--black-c-6);
}
.header__nav .header__nav-link:hover em {
  width: 100%;
  border: 1.5px solid var(--black-c-6);
}
.header__top {
  height: 100px;
  padding: 10px 0;
}

.header__top-logo {
  min-width: 108px;
  height: 64px;
  margin-right: 95px;
  margin-left: 4px;
}
.header__top-logo .logo {
  font-size: 4.8rem;
  color: var(--black-c-7);
}

.header__top-social {
  margin-left: 95px;
}

.header__top-social-list {
  display: flex;
}

.header__top-social-link {
  color: var(--black-c-7);
  font-size: 1.8rem;
  transition: all 0.15s ease-in-out;
}
.header__top-social-link + .header__top-social-link {
  margin-left: 8px;
}
.header__top-social-link:hover {
  cursor: pointer;
  color: var(--black-c-6);
}
.header__top-social-link .header__top-social-item {
  list-style: none;
}

.header__top-cartSP {
  margin-left: 34px;
  margin-right: 8px;
}
.header__top-cartSP .header__top-cartSP-link {
  color: var(--black-c-7);
  font-size: 1.8rem;
  transition: all 0.15s ease-in-out;
}
.header__top-cartSP .header__top-cartSP-link:hover {
  cursor: pointer;
  color: var(--black-c-6);
}
.user {
  margin: 0 4px;
  position: relative;
}
.user:hover .user__card {
  transform: scaleY(100%);
}
.user .user__infor {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.user .user__name {
  font-size: 1.2rem;
}
.user .user__avt {
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
.user .user__avt-img {
  width: 100%;
}
.user span {
  margin-left: 2px;
  color: var(--black-c-8);
}
.user .user__card {
  position: absolute;
  top: 100%;
  right: 0;
  width: 114px;
  padding: 6px 0;
  border-radius: 4px;
  background-color: var(--black-c-6);
  transform: scaleY(0%);
  transform-origin: top;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
.user .user__card-list {
  list-style: none;
}
.user .user__card-item {
  position: relative;
  font-size: 1.6rem;
  line-height: 28px;
  padding: 0 5px;
  color: var(--white-c-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.user .user__card-item::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--white-c-2);
}
.user .user__card-item:hover {
  background-color: var(--black-c-7);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--bg-head);
  z-index: 15;
}
.header .header__top-pr {
  display: flex;
  align-items: center;
  height: 80px;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 440px;
  width: 100%;
  margin-bottom: 45px;
}
.banner .banner__bg em {
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, transparent, rgba(0, 0, 0, 0.5921568627), #000000);
}
.banner .banner__bg-img {
  width: 100%;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.banner .banner__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  align-content: center;
  padding-left: 28px;
}
.banner .banner__content-tt {
  color: var(--white-c-3);
  font-size: 3.8rem;
  margin-bottom: 2.8rem;
}
.banner .banner__content-intro {
  max-width: 50%;
}
.banner .banner__content-intro-tt {
  color: var(--white-c-3);
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.banner .banner__content-intro-p {
  color: var(--white-c-1);
  line-height: 2.6rem;
  font-size: 1.8rem;
}
.banner:hover .banner__bg-img {
  transform: scale(1.15);
}

.section-title {
  margin-bottom: 28px;
}
.section-title .section-title__h2 {
  position: relative;
  text-align: center;
  background-color: var(--black-c-6);
  padding: 0 10px;
}
.section-title .section-title__h2::after {
  position: absolute;
  top: 0;
  left: 100%;
  content: "";
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent var(--black-c-6) var(--black-c-6);
}
.section-title .section-title__h2-item {
  color: var(--text-c-white);
  font-size: 2.4rem;
  line-height: 40px;
}
.section-title .section-title__underline {
  position: relative;
  width: 100%;
}
.section-title em {
  position: absolute;
  top: 100%;
  background-color: var(--black-c-6);
  height: 2px;
  width: 100%;
}

.category .category__item {
  box-shadow: 0.5px 0.5px 2px #2e2e2e;
  transform: translateY(0);
  transition: all 0.15s ease-in-out;
  padding: 20px 0;
  border-radius: 4px;
}
.category .category__item:hover {
  box-shadow: 1px 1px 2px #2e2e2e;
  transform: translateY(-2px);
  cursor: pointer;
}
.category .category__item-link {
  display: block;
}
.category .category__item-icon {
  text-align: center;
  color: var(--primary-c);
}
.category .category__item-icon-img {
  width: 120px;
}
.category .category__item-title {
  text-align: center;
  padding: 0 10px;
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--text-c);
}

.colection, .design-pattern, .blog {
  scroll-margin-top: 100px;
  margin-top: 24px;
}

.product {
  position: relative;
  box-shadow: 0.5px 0.5px 2px #2e2e2e;
  transform: translateY(0);
  transition: all 0.15s ease-in-out;
  border-radius: 4px;
  margin-top: 5px;
}
.product:hover {
  box-shadow: 1px 1px 2px #2e2e2e;
  transform: translateY(-2px);
  cursor: pointer;
}
.product:hover .product__buy {
  transform: translateX(-50%) scaleY(1);
}
.product .product__link {
  display: block;
  color: var(--text-c);
}
.product .product__img {
  max-width: 100%;
  height: 100%;
  max-height: 194px;
  overflow: hidden;
  border-bottom: 1px solid var(--black-c-7);
}
.product .product__img-item {
  width: 100%;
}
.product .product__info {
  text-align: center;
  height: 54px;
  max-height: 100%;
}
.product .product__info-price {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: underline;
  max-height: 24px;
  overflow: hidden;
}
.product .product__info-price .product__info-price-unit {
  font-size: 1.2rem;
}
.product .product__info-tt {
  line-height: 25px;
  padding: 0 6px;
  height: 100%;
  max-height: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product .product__buy {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 54px;
  border-radius: 0 0 4px 4px;
  background-color: rgba(166, 110, 2, 0.8);
  transform: translateX(-50%) scaleY(0);
  transform-origin: bottom;
  transition: all 0.2s ease-in-out;
}
.product .product__buy-btn {
  display: block;
  color: var(--text-c-white);
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  align-content: center;
  height: 100%;
}
.body {
  margin-top: 120px;
  margin-bottom: 20px;
}

.footer {
  background-color: var(--black-c);
}
.footer .footer__list > li {
  list-style: none;
  margin-top: 38px;
}
.footer .footer__item {
  font-size: 1.6rem;
}
.footer .footer__item-title {
  color: var(--white-c-1);
  font-size: 3rem;
  margin-bottom: 24px;
}
.footer .footer__item-list-content-link {
  display: block;
  position: relative;
  color: var(--white-c);
  transition: all 0.15s ease-in-out;
}
.footer .footer__item-list-content-link::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--black-c-8);
}
.footer .footer__item-list-content-link:hover {
  color: var(--white-c-2);
}
.footer .footer__item-list-content-it {
  line-height: 3.4rem;
}

/*# sourceMappingURL=styles.css.map */
