{% extends 'management/base.html' %}
{% load static %}

{% block title %} Danh sách giá vật liệu - JP {%endblock%}
{% block manageOder %}

<main class="body">
    <div class="grib wide">
        <form action="" class="form" id="form-policy">
            <h1 class="form-title">Danh sách giá vật liệu</h1>
            <ul style="width:100%;">
                {% for gia in gia_vat_lieu %}
                    <li class="col c-12 m-12 l-12 ll-12"><a class="form-label" href="{% url 'gia_vat_lieu_detail' gia.pk %}">{{ gia.name }} - {{ gia.price }} VND</a></li>
                {% endfor %}
            </ul>
            <a style="    display: block;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;" href="{% url 'gia_vat_lieu_create' %}">Thêm giá vật liệu mới</a>
        </form>
    </div>
</main>

{% endblock %}
    