
{% extends 'management/base.html' %}
{% load static %}

{% block title %} Thêm/Sửa chính sách - JP {%endblock%}
{% block manageOder %}
<main class="body">
    <div class="grib wide">
        <h1>Thêm/Sửa chính sách</h1>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="form-submit">Lưu</button>
        </form>
        <a style="font-size: 1.8rem;" href="{% url 'policy_list' %}">Quay lại danh sách</a>
    </div>
</main>

{% endblock %}