.header__nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 675px;
}
.header__nav .header__nav-list {
  display: flex;
}
.header__nav .header__nav-link {
  position: relative;
  display: block;
  color: var(--black-c-7);
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 12px;
  line-height: 38px;
  transition: all 0.15s ease-in-out;
}
.header__nav .header__nav-link em {
  display: block;
  width: 0%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 0px solid var(--black-c-7);
  border-radius: 0.5px;
  transition: all 0.2s ease-in-out;
}
.header__nav .header__nav-link:hover {
  color: var(--black-c-6);
}
.header__nav .header__nav-link:hover em {
  width: 100%;
  border: 1.5px solid var(--black-c-6);
}
.header__top {
  height: 100px;
  padding: 10px 0;
}

.header__top-logo {
  min-width: 108px;
  height: 64px;
  margin-right: 95px;
  margin-left: 4px;
}
.header__top-logo .logo {
  font-size: 4.8rem;
  color: var(--black-c-7);
}

.header__top-social {
  margin-left: 95px;
}

.header__top-social-list {
  display: flex;
}

.header__top-social-link {
  color: var(--black-c-7);
  font-size: 1.8rem;
  transition: all 0.15s ease-in-out;
}
.header__top-social-link + .header__top-social-link {
  margin-left: 8px;
}
.header__top-social-link:hover {
  cursor: pointer;
  color: var(--black-c-6);
}
.header__top-social-link .header__top-social-item {
  list-style: none;
}

.header__top-cartSP {
  margin-left: 34px;
  margin-right: 8px;
}
.header__top-cartSP .header__top-cartSP-link {
  color: var(--black-c-7);
  font-size: 1.8rem;
  transition: all 0.15s ease-in-out;
}
.header__top-cartSP .header__top-cartSP-link:hover {
  cursor: pointer;
  color: var(--black-c-6);
}
.user {
  margin: 0 4px;
  position: relative;
}
.user:hover .user__card {
  transform: scaleY(100%);
}
.user .user__infor {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.user .user__name {
  font-size: 1.2rem;
}
.user .user__avt {
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
.user .user__avt-img {
  width: 100%;
}
.user span {
  margin-left: 2px;
  color: var(--black-c-8);
}
.user .user__card {
  position: absolute;
  top: 100%;
  right: 0;
  width: 114px;
  padding: 6px 0;
  border-radius: 4px;
  background-color: var(--black-c-6);
  transform: scaleY(0%);
  transform-origin: top;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
.user .user__card-list {
  list-style: none;
}
.user .user__card-item {
  position: relative;
  font-size: 1.6rem;
  line-height: 28px;
  padding: 0 5px;
  color: var(--white-c-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.user .user__card-item::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--white-c-2);
}
.user .user__card-item:hover {
  background-color: var(--black-c-7);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--bg-head);
  z-index: 15;
}
.header .header__top-pr {
  display: flex;
  align-items: center;
  height: 80px;
}

.body {
  margin-top: 120px;
  margin-bottom: 20px;
}

.orders__item {
  position: relative;
  display: flex;
  color: var(--text-c-white);
  background-color: var(--black-c-8);
  padding: 10px;
  border-radius: 8px;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  margin-bottom: 12px;
  box-shadow: 1px 1px 2px 1px var(--black-c-9);
}
.orders__item:hover {
  cursor: pointer;
  background-color: var(--black-c-7);
}
.orders__item:hover .btn__receive-item {
  background-color: var(--white-c-1);
}
.orders__item .orders__item-infor {
  font-size: 1.6rem;
  min-width: 250px;
}
.orders__item .orders__item-infor-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.orders__item .btn__receive-item {
  padding: 0 10px;
  height: 100%;
  font-size: 1.6rem;
  font-weight: bolder;
  transition: all 0.2s ease-in-out;
}
.orders__item .btn__receive-item:hover {
  cursor: pointer;
  background-color: var(--white-c-1);
}

.order {
  width: 100%;
}
.order .order__ctn {
  display: flex;
  margin-bottom: 76px;
}
.order .order__imgPr {
  flex-shrink: 0;
  padding: 0 10px;
  width: 400px;
}
.order .order__imgPr-main {
  width: 100%;
  height: 380px;
  overflow: hidden;
  border: 1px solid var(--black-c-7);
  border-radius: 4px;
}
.order .order__imgPr-main-item {
  width: 100%;
}
.order .order__imgPr-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 10px;
}
.order .order__imgPr-list-item {
  display: block;
  border: 1px solid var(--black-c-6);
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 4px;
}
.order .order__imgPr-list-item:hover {
  border: 1px solid var(--black-c-7);
  cursor: pointer;
}

.order__value {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.order__value-input {
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--black-c-7);
  border-radius: 4px;
  margin-bottom: 10px;
  outline: none;
  color: var(--black-c-8);
  font-size: 3.4rem;
  text-decoration: underline;
}

.form-price {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
.form-price .form-price-input {
  width: 100%;
  height: 38px;
  font-size: 1.6rem;
  padding: 10px;
  outline: none;
  color: var(--black-c-9);
}
.form-price .form-price-edit {
  width: 100%;
  height: 38px;
  font-size: 1.6rem;
  background-color: var(--black-c-7);
  color: var(--white-c-1);
}

.order__value-edit {
  display: block;
  width: 100%;
  height: 24px;
  background-color: var(--black-c-7);
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 1px #2e2e2e;
}
.order__value-edit:hover {
  cursor: pointer;
  background-color: var(--black-c-6);
}

.order__ctnR {
  padding: 20px 10px;
  flex: 1;
  border: 0.5px solid var(--black-c-7);
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
form .form-title {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-c-6);
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 1px #2e2e2e;
  margin-bottom: 10px;
  font-size: 2.4rem;
  color: var(--black-c-9);
}
form .form-groub {
  flex-shrink: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  line-height: 26px;
}
form .form-groub:nth-child(8) {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
form .form-label {
  font-size: 2rem;
  color: var(--black-c);
  margin-bottom: 5px;
  font-weight: bolder;
}
form .form-input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: 1px solid var(--black-c-7);
  border-radius: 4px;
  margin-bottom: 10px;
  color: var(--black-c);
  font-size: 2.2rem;
  resize: none;
}
form .form-input-seclect {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--black-c-7);
  border-radius: 4px;
  margin-bottom: 10px;
  color: var(--black-c);
  font-size: 2.2rem;
}
form .form-submit {
  margin: 0 10px;
  width: 100%;
  height: 60px;
  background-color: var(--black-c-8);
  border-radius: 4px;
  box-shadow: 0.5px 0.5px 1px #2e2e2e;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
form .form-submit span {
  font-size: 2.4rem;
  color: var(--text-c-white);
}
form .form-submit:hover {
  cursor: pointer;
  background-color: var(--black-c-6);
}

.confirms {
  margin-top: 38px;
  display: flex;
}
.confirms .confirms__quantity {
  position: relative;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 42px;
  font-size: 2rem;
  background-color: var(--black-c-7);
  border-radius: 4px;
  overflow: hidden;
  margin-left: 10px;
}
.confirms .confirms__quantity-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirms .confirms__quantity-item-title {
  color: var(--text-c-white);
}
.confirms .confirms__quantity-item-value {
  color: var(--text-c-white);
  font-weight: bolder;
}
.confirms .confirms__quantity-btn {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.confirms .confirms__quantity-btn-item {
  width: 28px;
  font-size: 2rem;
  background-color: var(--black-c-7);
  border: none;
}
.confirms .confirms__quantity-btn-item:hover {
  cursor: pointer;
  background-color: var(--black-c-6);
}
.confirms .confirms__quantity-btn-item#minus {
  margin-right: auto;
}

.body {
  margin-top: 120px;
  margin-bottom: 20px;
}

.footer {
  padding-bottom: 42px;
  background-color: var(--black-c-9);
}

/*# sourceMappingURL=styles.css.map */
