{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        Tài khoản - JP
    {% endblock title%}
        </title>
    <link rel="stylesheet" href="{% static 'account/css/grib.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/animation.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'account/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/styles.css' %}">
</head>
<body>
    <main>
        {% block login %}{% endblock login %}

        {% block signUp %}{% endblock signUp %}
    </main>
</body>