{% extends 'account/base.html' %}
{% load static %}

{% block title %}
    Đăng nhập - JP
{% endblock title %}


{% block login %}
<div class="ctn">
    <form action="" method="post" class="form" id="form-2">
        <h3 class="title">Đăng nhập</h3>
        <div class="form-group">
            <label for="login-email" class="form-label">Email</label>
            <input type="email" id="login-email" name="email" placeholder="Nhập email">
            <span class="form-mess"></span>
        </div>
        <div class="form-group">
            <label for="login-password" class="form-label">Mật khẩu</label>
            <input type="password" id="login-password" name="Password" placeholder="Nhập mật khẩu">
            <span class="form-mess"></span>
        </div>
        <div class="form-btn">
            <button type="submit" class="form-btn__it">Đăng nhập</button>
        </div>
    </form>
    <div class="other">
        <span>Bạn chưa có tài khoản?</span>
        <a href="{% url 'signUp' %}" class="other__link">
            <span>Đăng ký</span>
        </a>
    </div>
</div>

{% block loginJS %}
    <script src="{% static 'account/JS/login.js' %}?v={{ timestamp }}"></script>
{% endblock loginJS %}
    

{% endblock login %}
    